# permissions for end users to view indexlifecycles.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: indexlifecycle-viewer-role
rules:
- apiGroups:
  - logging.opstreelabs.in
  resources:
  - indexlifecycles
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - logging.opstreelabs.in
  resources:
  - indexlifecycles/status
  verbs:
  - get
